<template>
  <div>
    <div class="loginContainer form-wrapper">
      <p class="signup-text">Signin now and meet awesome people around the world</p>
      <form>
        <fieldset class="form-group">
          <input v-model="email" type="email" class="form-control" id="example-email" placeholder="Enter email" />
        </fieldset>
        <fieldset class="form-group">
          <input
            v-model="password"
            type="password"
            class="form-control"
            id="example-password"
            placeholder="Enter a password"
          />
        </fieldset>
      </form>
      <p>By signning up you agree to the terms</p>
      <button @click.prevent="logIn" class="btn-secondary">LogIn</button>
    </div>
  </div>
</template>

<script>
const fb = require('@/firebase/firebaseConfig.js')

export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    logIn () {
      fb.auth.signInWithEmailAndPassword(this.email, this.password)
        .then((response) => {
          // console.log(response.user)
          this.$store.commit('setCurrentUser', response.user)
          this.$store.dispatch('fetchUserProfile')
          // console.log(user)
          this.$router.push('/newfeeds')
        })
        .catch(err => console.log(err))
    }
  }
}
</script>

<style>
.loginContainer {
  max-width: 500px;
  padding: 50px 0;
  margin: 0 auto;
}
</style>
