<template>
  <div>
    <div class="loginContainer form-wrapper">
      <p class="signup-text">Signup now and meet awesome people around the world</p>
      <div action="#">
        <fieldset class="form-group">
          <input v-model.trim="userInfor.name" type="text" class="form-control" id="example-name" placeholder="Enter name" />
        </fieldset>
        <fieldset class="form-group">
          <input v-model.trim="signUpForm.email" type="email" class="form-control" id="example-email" placeholder="Enter email" />
        </fieldset>
        <fieldset class="form-group">
          <input
            v-model.trim="signUpForm.password"
            type="password"
            class="form-control"
            id="example-password"
            placeholder="Enter a password"
          />
        </fieldset>
        <fieldset class="form-group">
          <label><input v-model="userInfor.gender" type="radio" name="optradio" value="male">Male</label>
          <label><input v-model="userInfor.gender" type="radio" name="optradio" value="female">Female</label>
        </fieldset>
      </div>
      <p>By signning up you agree to the terms</p>
      <button @click.prevent="signUp" class="btn-secondary">Signup</button>
    </div>
  </div>
</template>

<script>
const fb = require('@/firebase/firebaseConfig.js')

export default {
  data () {
    return {
      signUpForm: {
        email: '',
        password: ''
      },
      userInfor: {
        gender: 'male',
        name: ''
      }
    }
  },
  methods: {
    signUp () {
      fb.auth.createUserWithEmailAndPassword(this.signUpForm.email, this.signUpForm.password)
        .then((response) => {
          this.$store.commit('setCurrentUser', response.user)
          fb.usersCollection.doc(response.user.uid).set({
            gender: this.userInfor.gender,
            name: this.userInfor.name
          }).then(() => {
            this.$store.dispatch('fetchUserProfile')
            this.$router.replace('newfeeds')
          }).catch(err => {
            console.log(err)
          })
         })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<style>
.loginContainer {
  max-width: 500px;
  padding: 50px 0;
  margin: 0 auto;
}
</style>
