<template>
  <!-- Header
  =================================================-->
  <div id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1"
            aria-expanded="false"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/newfeeds">
            <img src="/static/images/logo.png" alt="logo" />
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right main-menu">
            <li class="dropdown">
              <a href="index.html">Home</a>
            </li>
            <li v-if="!currentUser" class="dropdown">
              <router-link to="/sign-up">SignUp</router-link>
            </li>
            <li v-if="!currentUser" class="dropdown">
              <router-link to="/sign-in">Login</router-link>
            </li>
            <li v-if="currentUser" class="dropdown">
              <a @click.prevent="logOut" href="#">LogOut</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right hidden-sm">
            <div class="form-group">
              <i class="icon ion-android-search"></i>
              <input type="text" class="form-control" placeholder="Search friends, photos, videos" />
            </div>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
  </div>
  <!--Header End-->
</template>
<script>
const fb = require('@/firebase/firebaseConfig.js')
import { mapGetters } from 'vuex'
export default {
  name: 'CommonHeader',
  computed: {
    ...mapGetters([
      'currentUser'
    ])
  },
  methods: {
    logOut () {
      fb.auth.signOut().then(() => {
        this.$store.commit('setCurrentUser', null)
        this.$store.commit('setUserProfile', {})
        this.$router.replace('sign-in')
      })
    }
  }
};
</script>

