<template>
  <div id="app">
    <common-header />
    <router-view/>
    <common-footer />
  </div>
</template>

<script>
import CommonHeader from '@/components/CommonHeader.vue'
import CommonFooter from '@/components/CommonFooter.vue'

export default {
  components: { CommonHeader, CommonFooter },
  name: 'App',
};
</script>
